html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(280deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

body > * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.menu_toggler {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

span,
span::after,
span::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2.5px;
    background-color: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(.77, 0, .175, 1);    
}

span::before {
    top: -8px;
}

span::after {
    top: 8px;
}

.menu_toggler.active > span {
    background-color: transparent;
}

.menu_toggler.active > span::after,
.menu_toggler.active > span::before {
    background-color: #005C9C;
    top: 0;
}

.menu_toggler.active > span::before {
    transform: rotate(-225deg);
}

.menu_toggler.active > span::after {
    transform: rotate(225deg);
}

.menu {
    position: absolute;
    z-index: 998;
    left: -30%;
    background-color: #fff;
    height: 100%;
    width: 30%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(.77, 0, .175, 1);
}

.menu.active {
    left: 0%;
}

.menu a {
    font-style: 1.4em;
    margin-bottom: 1rem;
    text-decoration: none;

    color: #005c9c;
}